*{
    margin:0;
    padding: 0;
     margin-top: 7%;
     text-align: center;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    background-color:red;
    color: rgba(11, 11, 15, 0.856);
  }
  
  section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-position: center;
  }
  
  label{
    font-size: 18px;
    color:black;
  }
  
  
  
  input{
    
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(255, 252, 254, 0.939);
    transition: 0.3s;
  }
  
  .button{
    background-color: rgb(118, 243, 69);
    color:rgb(0, 0, 0);
    height: auto;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 35px;
    margin-top: 10px;
    font-weight: bold;
  }
  .button:hover{
    transform: translate(5px);
    background-color: #ff6f00;
    border: 1px solid rgba(255, 255, 255, 0.657);
    color: #000;
    box-shadow: 0 2px 4px 0 rgb(226, 226, 226);
    transition: 0.3s;
  }